body {
  font-family: sans-serif;
}

h1, h2, h3 {
  font-weight: normal;
}

.mid {
  width: 80vw;
}

.remove-x {
  color: gray;
  float: right;
}
.remove-x:hover {
  color: crimson;
}

.mid input[type='number']{
  width: 4.5em;
}

div.graph-contain {
  max-width: 70vh;
  max-height: 49vh;
}

/*
canvas.func-plots {
  height: 25em;
}
*/

input#eigenfunc-display-slider {
  width: 70vh;
}

input#wave-t {
  width: 7em;
}